{% extends "base.html" %}
{% load static %}

{% block css %}
    <style>
        #calendar {
            max-width: 900px;
            margin: 0 auto;
            padding: 10px;
        }
    </style>
{% endblock css %}

{% block headerjs %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.13/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            loadCalendar();
        });

    </script>

{% endblock headerjs %}

{% block content %}
    {{ courts|json_script:"courts"|safe }}
    {{ holidays|json_script:"holidays"|safe }}
    <div id='calendar' ></div>

{% endblock content %}

{% block js %}
<script>
    let calendar;
    let calendarEl;


    document.addEventListener('DOMContentLoaded', function() {
        loadCalendar();
    });

    function loadCalendar() {
        const holidayData = JSON.parse(document.getElementById('holidays').textContent); 
        var holidayDates = Object.values(holidayData).map(holiday => holiday.holidayDate);

        calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            initialView: 'dayGridMonth',
            selectable: true,
            dateClick: function(info) {
                var selectedDate = info.dateStr;
                handleDateSelected(selectedDate);
            },
            selectAllow: function(info) {
                var selectedDateStr = info.startStr;
                return !holidayDates.includes(selectedDateStr);
            },
            height: 600,
        });

        calendar.render();
    }

    function loadTimeSlots(info) {
        const courtsData = JSON.parse(document.getElementById('courts').textContent); 
        const resources = courtsData.map(court => ({
            id: court.id,
            title: court.courtName
        }));

        calendar.changeView('resourceTimelineDay');
        calendar.setOption('resources', resources);
        calendar.setOption('scrollTime', courtsData[0].opening);
        calendar.setOption('slotMinTime', courtsData[0].opening);
        calendar.setOption('slotMaxTime', courtsData[0].closing);
        calendar.setOption('selectable', true);

        calendar.setOption('select', function(info) {
            alert('selected ' + info.startStr + ' to ' + info.endStr);

            var startTime = info.startStr;
            var endTime = info.endStr;
            var courtId = info.resource.id;

            handleEventCreation(startTime, endTime, courtId);
        });

        calendar.setOption('selectMirror', true);
        calendar.gotoDate(info);
    }


    function handleDateSelected(info) {
        // Load Timeline View 
        if (calendar.view.type === 'dayGridMonth') {
            loadTimeSlots(info);  // Pass selected date to loadTimeSlots

        } 
    } 

    function handleEventCreation(startTime, endTime, courtId) {
    // 1. Create temporary event
    var tempEvent = {
        title: 'New Booking', // You can set a default title or prompt the user for it
        start: startTime,
        end: endTime,
        resourceId: courtId,
        color: '#378006', // Event color
        allDay: false
    };

    // 2. Add event to the calendar
    calendar.addEvent(tempEvent);

    // 3. Log the event for debugging
    console.log('Event added:', tempEvent);

    // 4. Update the calendar view
    calendar.render();  
    createBooking();
    }

    function createBooking(){
        const csrfToken = '{{ csrf_token }}';
        const bookings = new FormData();
        bookings.append('csrfmiddlewaretoken', csrfToken);
        eventsArray = calendar.getEvents();
        // Save events from calendar
        const serializedEvents = eventsArray.map(event => ({
            title: event.title,
            start: event.start.toISOString(), // Convert to ISO string format
            end: event.end ? event.end.toISOString() : null, // Convert to ISO string format if end exists
            resourceId: event.getResources().map(resource => resource.id), // Convert to array of resource IDs
            color: event.backgroundColor, // Assuming color is stored in backgroundColor
            allDay: event.allDay
        }));

        bookings.append('events', JSON.stringify(serializedEvents));
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/create_booking/', true);
        xhr.send(bookings);
        console.log("sent");
    
    }

</script> 
{% endblock js %}

