{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>SPORTEN Home</title>
{% endblock title %}

{% block content %}

{% include "banner.html" %}

<!-- Venues Section -->
<div id="venues" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <h2 class="text-3xl font-bold mb-6">Venues</h2>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for venue in venues %}
      <div class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl">
          <div class="h-52 flex justify-center items-center rounded-t-xl overflow-hidden">
              {% if venue.image %}
              <img src="{{ venue.image.url }}" alt="{{ venue.venueName }}" class="h-full w-full object-cover">
              {% endif %}
          </div>
          <div class="p-4 md:p-6">
              <h3 class="text-xl font-semibold text-gray-800">
                  {{ venue.venueName }}
              </h3>
              <p class="mt-3 text-gray-500">
                  {{ venue.description }}
              </p>
          </div>
          <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200">
              <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-ee-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" href="{% url 'booking' venue.id %}">
                  Start Booking
              </a>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
<!-- End Venues Section -->
  <!-- Events Section -->
<div id="events" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <h2 class="text-3xl font-bold mb-6">Upcoming Events</h2>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for event in events %}
      <div class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl">
          <div class="h-52 flex justify-center items-center rounded-t-xl overflow-hidden">
              <img src="{{ event.imgRef.url }}" alt="{{ event.eventName }}" class="h-full w-full object-cover">
          </div>
          <div class="p-4 md:p-6">
              <h3 class="text-xl font-semibold text-gray-800">
                  {{ event.eventName }}
              </h3>
              <p class="mt-3 text-gray-500">
                  {{ event.eventDescription }}
              </p>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
<!-- End Events Section -->

{% endblock content %}

