{% extends "adminpanel/base_admin.html" %}
{% load form_tags %}

{% block title %}
    <title>{% if form.instance.pk %}Edit Booking{% else %}Add Booking{% endif %}</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>{% if form.instance.pk %}Edit Booking{% else %}Add Booking{% endif %}</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_userID">User</label>
                                {{ form.userID|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label for="id_price">Price</label>
                                {{ form.price|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label for="id_status">Status</label>
                                {{ form.status|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label for="id_court">Court</label>
                                {{ booking_court_form.court|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label for="id_startTime">Start Time</label>
                                {{ booking_court_form.startTime|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label for="id_endTime">End Time</label>
                                {{ booking_court_form.endTime|add_class:"form-control" }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                            <a href="{% url 'admin_bookings' %}" class="btn btn-secondary btn-block">Cancel</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
