{% extends "adminpanel/base_admin.html" %}
{% load custom_filters %}

{% block title %}
    <title>{% if form.instance.pk %}Edit User{% else %}Add User{% endif %}</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>{% if form.instance.pk %}Edit User{% else %}Add User{% endif %}</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_name">Name</label>
                                {{ form.name|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label for="id_email">Email</label>
                                {{ form.email|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label for="id_phone_num">Phone Number</label>
                                {{ form.phone_num|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label for="id_accountType">Account Type</label>
                                {{ form.accountType|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label for="id_password1">Password</label>
                                {{ form.password1|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label for="id_password2">Confirm Password</label>
                                {{ form.password2|add_class:"form-control" }}
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
