{% extends "adminpanel/base_admin.html" %}

{% block title %}
    <title>Venues</title>
{% endblock %}

{% block content %}
    <h1>Venues</h1>
    <a href="{% url 'create_venue' %}" class="btn btn-primary mb-3">Add New Venue</a>
    <table id="venuesTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Venue Name</th>
                <th>Booking Toggle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for venue in venues %}
            <tr>
                <td>{{ venue.venueName }}</td>
                <td>{{ venue.bookingToggle }}</td>
                <td>
                    <a href="{% url 'update_venue' venue.id %}" class="btn btn-primary btn-sm">Edit</a>

                    <button class="btn btn-danger btn-sm" onclick="confirmDelete('{{ venue.id }}')">Delete</button>

                    <!-- <a href="{% url 'delete_venue' venue.id %}" class="btn btn-danger btn-sm">Delete</a> -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    $(document).ready(function() {
        $('#venuesTable').DataTable();
    });
    function confirmDelete(venueId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'delete_venue' 0 %}".replace('0', venueId);
            }
        });
    }
</script>
{% endblock %}
