{% extends "adminpanel/base_admin.html" %}
{% load custom_filters %}

{% block title %}
    <title>{% if form.instance.pk %}Edit Venue{% else %}Add Venue{% endif %}</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>{% if form.instance.pk %}Edit Venue{% else %}Add Venue{% endif %}</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_venueName">Venue Name</label>
                                {{ form.venueName|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label for="id_bookingToggle">Booking Toggle</label>
                                {{ form.bookingToggle|add_class:"form-control" }}
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
